$header-list: rgb(212, 212, 212);
    $header-list-hover:rgb(255, 255, 255);
    $main-info:rgb(223, 214, 196);
    $main-info2:rgb(184, 184, 184);

body{
    background-color: black;
}

img{
    max-width: 100px;
    height: auto;
    display: block;
}